* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.colorRed {
  color: red;
}
.smaller {
  width: 500px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: auto;
  flex-direction: row;
}

article {
  flex: 2;
  overflow-y: auto;
  border: 1px solid black;
}
aside {
  flex: 1;
  overflow-y: auto;
  border: 1px solid black;
  padding-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  background: black;
}
nav a {
  margin: 20px;
  color: red;
  font-size: larger;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10%;
}
nav a:hover {
  background: rgb(160, 148, 148);
}

main {
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}
p {
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
}

img {
  display: block;
  margin: auto;
  border-radius: 10%;
  box-shadow: -5px 5px 5px black;
  width: 100%;
}

footer {
  background: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#socialMedia a.colorRed {
  font-size: x-large;
  text-shadow: 2px 2px 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-instagram {
  background: rgb(161, 71, 71);
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-google {
  background: #da5e39;
  color: white;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  nav a {
    margin: 5px;
  }
}
